struct {
	{{ range .Fields -}}
	{{ if .Description -}}
	{{ Comment .Description 1 }}
	{{ .GoName }} {{ if not .Required }}*{{ end }}{{ .GoType }} `json:"{{.JSONName}}{{if not .Required}},omitempty{{end}}"`
	{{ else -}}
	{{ .GoName }} {{ if not .Required }}*{{ end }}{{ .GoType }} `json:"{{.JSONName}}{{if not .Required}},omitempty{{end}}"`
	{{ end -}}
	{{ end -}}
}
